{% extends "base.html" %}
<!-- loading our markdownify:first we need to make the folder as a package by creating __init__.py in it otherwise will not load here -->
{% load markdownify %}

{% block title %}{{post.title}}{% endblock %}
{% block content %}
<div class="post">
    {% if post.published_date %}
    
    <div class="date">
        {{ post.published_date }}
    </div>
    {% else %}
        <a href="{% url 'blog:post_publish' post.id %}" class="btn btn-primary">publish</a>
    {% endif %}
    {% if user.is_authenticated %}      
        <a href="{% url 'blog:post_edit' post.id %}"><i class="fas fa-edit fa-2x fa-spin" style="color: blue;"></i></a>
    {% endif %}


    <h1>{{ post.title }}</h1>
    <p>{{ post.text | markdown | safe }}</p>
    {% comment %} adding markdownify feature rather then above line {% endcomment %}
    {% comment %} <p>{{ post.text|linebreaksbr }}</p> {% endcomment %}
</div>

    <hr>
    <a href="{% url 'blog:add_comment_to_post' post.id %}" class="btn btn-secondary">Add comment</a>    
    {% for comment in post.comments.all %}
        {% if user.is_authenticated or comment.approved %}
            <div class="comment">

                <div class="date">
                    {{ comment.created_date }}
                </div>

                <!-- authorizing the ability for only super user to approve or remove comment in anycase at frontend -->
                {% if not comment.approved and user.is_superuser %}
                    <a href="{% url 'blog:comment_approve' comment.id %}"><i class="fas fa-check"></i></a>
                    <a href="{% url 'blog:comment_remove' comment.id %}">approve<i class="fas fa-trash-alt">delete comment</i></a>                
                {% endif %}
                    
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text | markdown | safe | linebreaksbr }}</p>
                    
            </div>
        {% endif %}
    {% empty %}
        <p>No comments yet...</p>
    {% endfor %}
{% endblock %}